.card-img-top
{
    width: 100% !important;
}

.the_course
{

}

.course-info
{

}

.custom-title
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.dashboard-tracks-title,.dashboard-courses-title
{
    color: #ffffff;
}

.dashboard-tracks,.dashboard-courses
{
    margin-top: 30px;
}



